body{
    margin-top: 30px;
    margin-bottom: 0;
    height: 100vh;
    width: 100%;
}
input {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}
button{
    margin-top: 15px;
}
#div{
    text-align: center;
    padding-top: 100px;
}
#buttons{
    margin-top: 15px;
    display: block;
}