input{
    width: 100%;
    height: 50px;
    display: block;
}
body{
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-color: black;
    position: absolute;
}
div{
    float:left;
    width: 41%;
    margin-left: 6%;
    margin-top: 10px;
    padding-top: 8%;
}
html{
    width: 100%;
    background-color: aquamarine;
}

.btn.btn-dark{
    margin-top: 15px;
    width: 100%;
}

.status{
    text-align: center;
    margin-top: 50px;
}

#green{
    color: green;
}

#red{
    color: red;
}

#black{
    color: black;
}