body{
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 0;
}
#calculator{
    width: 300px;
    background-color: #fff;
    margin-left: 38%;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
div{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
button{
    width: 50px;
    height: 50px;
    margin-right: 0px;
}
input{
    height: 50px;
    width: 159px;
    padding: 5px;
    text-align: right;
    font-size: large;
}
h1{
    padding-bottom: 20px;
}